node_modules/
dist/
.env
*.js
*.js.map
*.d.ts
!nest-cli.json
!packages/sdk/bin/*.js
coverage/
.nyc_output/
logs/
**/generated/
docs/.vitepress/cache/
*.env
!.env.example
.plans/
.DS_Store
docs/.vitepress/dist/
.claude/
